.card {
  width: 150px;
  height: 200px;
}

.cardSide {
  position: absolute;
  width: 150px;
  height: 200px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 20px;
  background-size: cover;
}
